on: 
  milestone:
    types: [closed]
name: Milestone Closure
jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde # v2.9.1
      with:
        egress-policy: audit

    - uses: actions/checkout@61b9e3751b92087fd0b06925ba6dd6314e06f089 # master
    - name: Create Release Notes
      uses: ./
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        OUTPUT_FOLDER: temp_release_notes
        USE_MILESTONE_TITLE: "true"
    - name: Upload Release Notes to Wiki
      uses: docker://decathlon/wiki-page-creator-action:latest@sha256:77ffd8d45533a3c558911d1f30eb1135a16409ba011e08d5670990304687255a
      env:
        ACTION_MAIL: bot@stepsecurity.io
        ACTION_NAME: step-security-bot
        GH_PAT: ${{ secrets.GH_PAT }}
        MD_FOLDER: temp_release_notes
        OWNER: step-security
        REPO_NAME: release-notes-generator-action
        SKIP_MD: README.md