on: 
  milestone:
    types: [closed]
name: Milestone Closure
jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
      with:
        egress-policy: audit

    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # master
    - name: Create Release Notes
      uses: ./
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        OUTPUT_FOLDER: temp_release_notes
        USE_MILESTONE_TITLE: "true"
    - name: Upload Release Notes to Wiki
      uses: docker://decathlon/wiki-page-creator-action:latest@sha256:77ffd8d45533a3c558911d1f30eb1135a16409ba011e08d5670990304687255a
      env:
        ACTION_MAIL: bot@stepsecurity.io
        ACTION_NAME: step-security-bot
        GH_PAT: ${{ secrets.GH_PAT }}
        MD_FOLDER: temp_release_notes
        OWNER: step-security
        REPO_NAME: release-notes-generator-action
        SKIP_MD: README.md